.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    justify-items: center;
    align-items: center;
}

.grid div:nth-child(1){
    justify-self: start;
    align-self: start;
}

.grid div:nth-child(2){
    justify-self: stretch;
    align-self: stretch;
}

.grid div:nth-child(3){
    justify-self: end;
    align-self: stretch;
}

.grid div:nth-child(4){
    justify-self: stretch;
    align-self: end;
}